#appe{
    display: grid;
    grid-template-columns: repeat(4,1fr);
text-align: center;
gap: 15px;
}
#appe > div > img {
    cursor: pointer;
  }
  #appe div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: aliceblue;
  }
  #appe>div:hover{
background-color: rgb(243, 226, 227);
box-shadow: rgba(4, 4, 112, 0.2) 0px 7px 29px 0px;
  }
  