* {
  margin: 0%;
  padding: 0%;
}
#invite_banner {
  display: flex;
  background-color: #e5ecff;
  margin: auto;
  gap: 1%;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#invite_banner img {
  width: 5%;
}

#invite_banner p {
  width: 30%;
  color: rgb(85, 83, 83);
}

#invite_banner button {
  background-color: #e5ecff;
  color: red;
  width: auto;
  border: 0;
}

#top_container_h-l {
  width: 95%;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 2%;
}

#top_container_h-l img {
  width: 100%;
}

#second_container_h-l {
  display: flex;
  margin-bottom: 1%;
  width: 95%;
}

#second_container_h-l_top p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(59, 59, 59);
  font-size: xx-large;
  margin-left: 5%;
  margin-bottom: 3%;
}

#second_container_h-l_top > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#second_container_h-l_left img {
  margin: auto;
  width: 90%;
  margin-bottom: 10%;
}

#second_container_h-l_right b {
  color: rgb(23, 23, 23);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#second_container_h-l_right p {
  margin: auto;
  color: rgb(69, 69, 69);
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#third_container_h-l {
  margin: auto;
  width: 100%;
}

#third_container_h-l > img {
  width: 100%;
}

#third_container_h-l_bottomDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  margin: auto;
}

#third_container_h-l_bottomDiv img {
  width: 100%;
}

#fourth_container_h-l > img {
  width: 90%;
  margin-left: 5%;
}

#fourth_container_h-l_bottom {
  display: flex;
  margin: auto;
  margin-left: 5%;
  gap: 2%;
  margin-bottom: 5%;
}

#fourth_container_h-l_bottom img {
  width: 18%;
}

img:hover {
  transform: scale(0.95);
  transition: all 1s linear;
}
