* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* invite Section */
#invite {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 30%;
  background-color: #e3ebff;
  /* text-decoration-color: grey; */
  margin-bottom: 30px;
}
#inviteImg > img {
  height: 50px;
  margin: 10px;
}
#inviteBtn > button {
  width: 120px;
  margin: 10px;
  padding: 5px 8px;
  color: red;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #e3ebff;
}

/* Home Page Section */
#ranbir_kiara {
  cursor: pointer;
}
#ranbir_kiara_First,
#ranbir_kiara_Second,
#ranbir_kiara_Third {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

#ranbir_kiara_Second {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

#ranbir_kiara_Third {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
#ranbir_kiara_First > img {
  width: 100%;
}
#ranbir_kiara_Second > img {
  width: 100%;
}
#ranbir_kiara_Third > img {
  width: 100%;
}

#second_pic {
  margin-top: 30px;
}

#second_pic img {
  width: 100%;
  height: 300px;
}
#third_pic img {
  width: 100%;
}

#fourth_pic {
  display: grid;
  grid-template-columns: repeat(10, 9%);
  gap: 14px;
  /* border: 1px solid red; */
}

#fourth_pic > div > img {
  width: 100%;
}

#fifth_pic img {
  width: 100%;
}

#sixth_pic {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  /* gap: 14px; */
  /* border: 1px solid red; */
}

#sixth_pic > div > img {
  width: 100%;
}

#seventh_pic img {
  width: 100%;
}

#eight_pics_yellow {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

#eight_pics_yellow img {
  width: 100%;
}

#nine_pic img {
  width: 100%;
}

#tenth_pic {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

#tenth_pic img {
  width: 100%;
}

#eleventh_pic img {
  width: 100%;
}

#twelth_pics {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

#twelth_pics img {
  width: 100%;
}
