* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#main_container {
  width: 90%;
  padding-top: 3%;
  margin: auto;
}

select {
  padding: 1%;
  font-weight: bold;
  margin-bottom: 5%;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
}

option {
  font-weight: bold;
  cursor: pointer;
}

#big_container {
  display: flex;
}

#categories_container {
  width: 18%;
  padding: 1%;
  flex-direction: column;
  font-size: large;
}

#categories_container > p {
  cursor: pointer;
  margin-bottom: 10%;
  font-weight: bolder;
  padding: 1%;
}

#categories_container > p:hover {
  font-weight: bold;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 1%;
}

#container {
  text-align: center;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2%;
}

#container > div {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid red;
  height: 100%;
}

#container > div > img {
  cursor: pointer;
  width: 100%;
  height: 300px;
}

#container h4,
#container p {
  margin: 1%;
}

#container > div > button {
  width: 100%;
  padding: 2%;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(19, 19, 19);
  color: white;
}

#container > div > button:hover {
  background-color: rgb(178, 0, 0);
  color: white;
  transition: all 500ms linear;
}

#container img:hover {
  transform: scale(0.95);
  transition: all 1s linear;
}
