* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#main_container {
  width: 90%;
  height: auto;
  padding: 5px;
  margin: 20px auto;
}

select {
  padding: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
}

=======
}

#main_container {
  width: 70%;
  padding-top: 30px;
  margin: auto;
}

select {
  color: aliceblue;
  padding: 5px;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 15px;
  background-color: black;
  cursor: pointer;
}
>>>>>>> 33d25c41d6fb11f10097234493c442fcb2dbf480
option {
  font-weight: bold;
  cursor: pointer;
}

#big_container {
  display: flex;
<<<<<<< HEAD
  margin-bottom: 100px;
}

#categories_container {
  width: 18%;
  padding: 1%;
  height: 550px;
  flex-direction: column;
  font-size: large;
  text-align: center;
  color: black;
  margin-right: 25px;
  background-color: rgb(248, 240, 240);
}

#categories_container > h3 {
  margin: 25px;
  font-weight: bold;
}

#categories_container > p {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 1%;
}

#categories_container > p:hover {
  font-weight: bold;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 1%;
}

#container {
  text-align: center;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2%;
}

#container > div {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* border: 1px solid red; */
  height: 100%;
}

#container > div > img {
  cursor: pointer;
  width: 100%;
  height: 180px;
}

#container h4,
#container p {
  margin: 1%;
}

#container > div > button {
  width: 100%;
  padding: 2%;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(19, 19, 19);
  color: white;
}

#container > div > button:hover {
  background-color: rgb(178, 0, 0);
  color: white;
  transition: all 500ms linear;
}

#container img:hover {
  transform: scale(0.95);
  transition: all 1s linear;
=======
}

#categories_container {
  width: 17%;
  height: 500px;
  display: flex;
  padding: 45px 20px;
  flex-direction: column;
  background-color: rgb(197, 208, 218);
  /* border: 1px solid black; */
}

#categories_container > p {
  margin: 5px;
  cursor: pointer;
}
#categories_container > p:hover {
  font-weight: bold;
}

#container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: auto;
}
#container > div {
  display: flex;
  margin: 10px;
  margin-bottom: 35px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#container > div > img {
  cursor: pointer;
}
#container > div > h4 {
  margin: 10px;
}
#container > div > p {
  margin: 3px;
}
#container > div > button {
  width: 100%;
  height: 25px;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
>>>>>>> 33d25c41d6fb11f10097234493c442fcb2dbf480
}
