*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: bisque;
    padding: 10px;
  }
  h1 {
    text-align: center;
    margin: 30px;
    padding: 20px;
    font-size: 42px;
    background-color: black;
    color: aliceblue;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .details>h2 {
    font-size: 30px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    color: aliceblue;
    background-color:black;
    border-radius: 10px;
  }
  
  #container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 20px;
  }
  #container > div {
    margin: auto;
    padding: 18px;
    height: 400px;
    text-align: center;
    background-color: azure;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  #container > div > img {
    height: 65%;
  }
  #container > div > h3 {
    margin: 3px;
    font-size: 18px;
    font-weight: 500;
  }
  button {
    text-align: center;
    font-size: 22px;
    padding: 5px 40px;
    background-color: red;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  #shopping_continue{
    color: rgb(255, 0, 98);
    font-size: 27px;
    font-weight: bold;
    background-color:rgb(223, 212, 212);
    border-radius: 10px;
    text-decoration: underline;
  }



